<div class="wrapper">
  @if (activePost$ | async) {
  <app-post
    class="modal"
    [postId]="(activePost$ | async)?.id"
    (postClosed)="postClosed()"
  ></app-post>
  }

  <div
    class="content-container"
    [ngClass]="(activePost$ | async) ? 'dimmed' : ''"
  >
    <div class="title-wrapper">
      <app-angular-logo />
      <h1>Angular - NgRx Demo</h1>
    </div>
    <h3>Latest posts</h3>

    @if(loading$ | async) {
    <app-loading-spinner class="spinner" />
    } @if(!(loading$ | async)) {
    <div class="post-list">
      @for(post of posts$ | async; track post.id; ) {
      <div class="post-list-item">
        <h4 class="clickable" (click)="showPost(post.id)">
          {{ post.title | titlecase }}
        </h4>
        <p>
          <span class="chevron"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="ai ai-ChevronRight"
            >
              <path d="M8 4l8 8-8 8" /></svg></span
          >{{ post.body.charAt(0).toUpperCase() + post.body.slice(1) }}
        </p>
      </div>
      }
    </div>
    }
  </div>
</div>
